.card {
    width: 1000px;
    height: 500px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    perspective: 1000px;
}

.cardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    position: absolute;
    font-size: 32px;
}

.question {
    transform: rotateY(0deg);
}
  
.answer {
    transform: rotateY(180deg);
}
  
.revealed .question {
    transform: rotateY(180deg);
}
  
.revealed .answer {
    transform: rotateY(0deg);
}