.card {
    width: 1000px;
    height: 500px;
    border: 1px solid #000000;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    perspective: 1000px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-counts {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* font-size: 0.9em; */
    /* color: #555; */
  }

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.cardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    backface-visibility: hidden;
    position: absolute;
    font-size: 32px;
}

.question {
    transform: rotateY(0deg);
}
  
.answer {
    transform: rotateY(180deg);
}
  
.revealed .question {
    transform: rotateY(180deg);
}
  
.revealed .answer {
    transform: rotateY(0deg);
}